html,
body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

a:hover {
  text-decoration: none;
}

.contenedor-global {
  min-height: 100vh;
}

.cabecera,
.pie {
  background: #000;
  min-height: 4rem;
  color: #fff;
}

.cabecera a,
.pie a {
  color: #fff;
  text-transform: uppercase;
}

.cabecera {
  padding: 2rem 0;
}

.cabecera a {
  font-weight: bold;
}

.cabecera .logo {
  max-width: 12rem;
}

.pie {
  padding: 4rem 0;
}

.rejilla-empresas {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 2rem -1rem 2rem -1rem;
}

.rejilla-empresas .empresa {
  flex-basis: 22.199%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 0.2rem;
  padding: 1rem;
  transition: transform 0.2s;
  margin: 0 1rem 1rem 1rem;
}

.rejilla-empresas .empresa a {
  color: #111;
}

.rejilla-empresas .empresa:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.rejilla-empresas .logo {
  margin-bottom: 1rem;
}

.rejilla-empresas .nombre {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

.alert ul {
  margin-bottom: 0;
}

.preloader {
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer img {
  max-width: 14rem;
  margin: 0 auto;
  display: block;
}

.animate__paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.popup__inner {
  background-color: #fff;
  max-width: 1000px;
  font-size: 16px;
  padding: 50px;
  position: relative;
  text-align: left;
  width: 90vw;
}

button.popup__close.js-popup-close {
  color: #000;
  border: 2px solid #000;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
  background: none;
}

button.popup__close.js-popup-close span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  padding-top: 1px;
}

.ficha-individual .logo {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  display: block;
}

.ficha-individual .imagen {
  max-width: 500px;
  width: 90%;
  display: block;
  margin: 1rem auto;
}

ul {
  list-style-position: inside;
}

a {
  color: #97a800;
}

.mapa-portada {
  width: 90%;
  max-width: 20rem;
  display: block;
  clear: both;
  float: none;
  margin: 2rem auto;
}

@media (min-width: 645px) {
  .mapa-portada {
    float: right;
    max-width: 30rem;
    margin-left: 2rem;
    width: 40%;
  }
}

@media (min-width: 992px) {
  .mapa-portada {
    margin-top: 0;
    width: 60%;
    max-width: 25rem;
  }
}

span.traduccion {
  font-size: 0.65em;
  color: #777;
}

.required::after {
  color: #c00;
  content: "*";
  display: inline-block;
  padding-left: 4px;
}

ul,
ol {
  list-style-position: inside;
}

ol ul {
  padding-left: 1rem;
}

