a:hover {
  text-decoration: none;
}

.contenedor-global {
  min-height: 100vh;
}

.cabecera,
.pie {
  background: #000;
  min-height: 4rem;
  color: #fff;
}

.cabecera a,
.pie a {
  color: #fff;
  text-transform: uppercase;
}

.cabecera {
  padding: 2rem 0;
}

.cabecera a {
  font-weight: bold;
}

.cabecera .logo {
  max-width: 12rem;
}

.pie {
  padding: 4rem 0;
}

.rejilla-empresas {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 2rem -1rem 2rem -1rem;
}

.rejilla-empresas .empresa {
  flex-basis: 22.199%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 0.2rem;
  padding: 1rem;
  transition: transform 0.2s;
  margin: 0 1rem 1rem 1rem;
}

.rejilla-empresas .empresa a {
  color: #111;
}

.rejilla-empresas .empresa:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.rejilla-empresas .logo {
  margin-bottom: 1rem;
}

.rejilla-empresas .nombre {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

.alert ul {
  margin-bottom: 0;
}

.preloader {
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer img {
  max-width: 14rem;
  margin: 0 auto;
  display: block;
}

.animate__paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

